<%= simple_form_for @message do |f| %>
    <div class="form-group">
        <%= f.input :title, label: false, placeholder: "Titulo", input_html: { class: "form-control" } %>
    </div>
    <div class="form-group">
         <%= f.input :description, label: false, placeholder: "Descripcion", input_html: { class: "form-control alto" } %>
    </div>
 
  <%= f.button :submit, "Postear Mensaje", class: "btn btn-primary" %>
<% end %>