
<% @messages.each do |message|%>
    <div class="col-md-10 col-md-offset-1 mt-5">
        <div class="message">
            <h2 class="message-title"><%= message.title %></h2>
            <%= link_to "Unirse A Conversacion ", message, class: "btn-custom" %>
        </div>
    </div>
<% end %>