<div class="col-md-10 col-md-offset-1 mt-3 mb-3">
    <div class="message-show">
        <h2><%= @message.title %></h2>
        <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> </p>
        <p class="message-desc"><%= @message.description %></p>

        <h3 class="comment-section-header">Comentarios:</h3>
        <p><%= render @message.comments %></p>

        <h3 class="reply-to-msg">Unirse A Discusion </h3>
        <%= render 'comments/form'%>

        <div class="links btn-group">
            <% if user_signed_in? %>
                <% if @message.user_id == current_user.id %>
                    <%= link_to "Editar", edit_message_path(@message), class: "btn btn-success"%>
                    <%= link_to "Borrar", message_path(@message), method: :delete, data: { confirm: "Estas Seguro"}, class: "btn btn-danger ml-2"%>
                <% end %>
            <% end %>
            <%= link_to "Atras", root_path, class: "btn btn-info ml-2" %>
        </div>
    </div>
</div>