<div class="comment">
    <p class="comment-content"><%= comment.content %></p>
    <p class="comment-posted-by">Por: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at)%></p>

    <div class="links">
        <% if user_signed_in? %>
            <% if comment.user_id == current_user.id %>
                <%= link_to "Editar", edit_message_comment_path(comment.message, comment), class: "btn btn-success" %>
                <%= link_to "Eliminar", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Estas Seguro"}, class: "btn btn-warning" %>
            <% end %>
        <% end %>
    </div>
</div>