<div class="container mt-3">
        <h1>Editar</h1>
    <%= simple_form_for ([@message, @comment]) do |f| %>
        <div class="form-group">
            <%= f.input :content, label: false, placeholder: "Comentario", input_html: { class: "form-control alto" } %>
        </div>
    <%= f.button :submit, "Postear Comentario", class: "btn btn-primary" %>
    <% end %>
</div>