<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "ESPN FAN FORUM", root_path, class: "navbar-brand"%>
        </div>
        <ul class="navbar-nav nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to "Desloguearse", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <div class="row">
                    <li><%= link_to "Inicia Sesion", new_user_session_path, class: "ml-2" %></li>
                    <li><%= link_to "Registrarte", new_user_registration_path, class: "ml-2" %></li>
                </div>
            <% end %>
        </ul>
        <% if user_signed_in? %>
            <div><%= link_to "Nuevo Post", new_message_path, class: "navbar-text navbar-link"%></div>
        <% end %>
    </div>
</nav>