<% flash.each do |name, msg| %>
      <div class="alert alert-dismissible alert-<%= name %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading"><%= msg %></h4>
      </div>
    <%end%>